@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #1B2021;
  --color-surface: #30343F;
  --color-primary: #EA638C;
  --color-secondary: #89023E;
  --color-text: #FFD9DA;
  --color-text-light: #a9a9a9;
  --color-success: #2ecc71;
  --color-error: #e74c3c;

  --font-sans: 'Nunito Sans', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
}
